body {
    font-family: Arial, sans-serif;
    background-image: url('imagenes/DeWatermark.ai_1740486707601.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-container, .welcome-banner {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.welcome-banner {
    display: none;
}

.vehicles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    width: 320px;  /* Aumenté el ancho */
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.cart {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 30px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
